.character{
  width: 196px;
  height: 170px;
  position:absolute;
  bottom: 0%;
  right: 10%;
  background-image: url('WillSmithSlap.png');
  background-size: contain;
}

.jump{
  animation: jump 1000ms forwards;
}


@keyframes  jump {
    50%{
      bottom: 60%;
    }
    100%{
      bottom: 20%;
      transform: rotate(-360deg);
    }
}

body{
  background-image: url(oscarbackground.webp);
  background-size:cover
  
}


