.character{
  width: 220px;
  height: 200px;
  position:absolute;
  bottom: 10%;
  left: 10%;
  background-image: url('peppapig.png');
  background-size: contain;
}

.enemy{
width: 230%;
height: 210%;
position: absolute;
bottom: 10%;
left: 10%;
background-image: url(dinosaur.png);
background-size: contain;
}


.jump{
  animation: jump 1000ms forwards;
}


@keyframes  jump {
    50%{
      bottom: 60%;
    }
    100%{
      bottom: 20%;
      transform: rotate(-360deg);
    }
}

body{
  background-image: url(peppapigbackground.jpg);
  background-size:auto 100vh;

  animation: move 5s linear infinite;
  
}

@keyframes move{
0%{ 
  background-position: 0px 0;
}
100%{
  background-position: -2000px 0;
}

} 


